/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Inter';
    src: url('app/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('app/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  * {
    font-family: 'Inter', sans-serif;
  }
  